@model InstructorIndexData
@{
    ViewData["Title"] = "Index";
}
<h2>Danh sách nhân viên</h2>

<p>
    <a asp-action="Create">Thêm nhân viên mới</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tìm kiếm: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Quay về trang đầy đủ</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    Mã
                </th>
                <th>
                    Họ và tên
                </th>
                <th>
                    Ngày vào
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Email
                </th>
                <th>
                    Lương
                </th>
                <th>
                    Setting
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.staffs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dayIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @{
                        foreach (var item1 in item.Salaries)
                        {
                            @item1.totalSalary <br/>
                            @* @item1.dayTakeId.DayOfYear @:  @item1.totalSalary <br/> *@
                            break;
                        }
                    }
            </td>
            <td>
                <a asp-area="" asp-controller="Salaries" asp-action="Index" asp-route-staffid="@item.StaffId">More</a> |
                <a asp-action="Edit" asp-route-staffid="@item.StaffId">Edit</a> |
                <a asp-action="Delete" asp-route-staffid="@item.StaffId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>